################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/11. Advanced C# Topics/AbstractBasic/.vs/AbstractBasic/v16
/11. Advanced C# Topics/Nullable/.vs/Nullable/v16
/11. Advanced C# Topics/LooselyCoupledDriver/LooselyCoupledDriver/obj
/11. Advanced C# Topics/LooselyCoupledDriver/LooselyCoupledDriver/bin/Debug/net6.0
/11. Advanced C# Topics/LooselyCoupledDriver/.vs/LooselyCoupledDriver
