################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/11. Advanced C# Topics/AbstractBasic/.vs/AbstractBasic/v16
/11. Advanced C# Topics/Nullable/.vs/Nullable/v16
